@model LocationViewModel

<h2>Location Details</h2>
<br>
<div>
    <h4>Location</h4>
    <hr />
    <dl class="row">
        <dt>Location ID</dt>
        <dd>@Model.Location.LocationID</dd>
        <dt>Name</dt>
        <dd>@Model.Location.Name</dd>
        <dt>Address</dt>
        <dd>@Model.Location.Address</dd>
    </dl>
</div>
<p><a asp-action="Index">Back to List</a></p>

<!-- Display Employees -->
<h3>Employees</h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Full Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees) {
            <tr>
                <td>@employee.EmployeeID</td>
                <td>@employee.FullName</td>
                <td>@employee.Position</td>
                <td>@employee.Email</td>
                <td>@employee.PhoneNumber</td>
                <td>
                    <a asp-action="Details" asp-route-id="@employee.EmployeeID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@employee.EmployeeID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><a asp-controller="Employee" asp-action="Create">Create New Employee Item</a></p>

<!-- Display Inventory -->
<h3>Inventory</h3>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Reorder Quantity</th>
            <th>Reorder Level</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventoryItem in Model.Inventory) {
            <tr>
                <td>@inventoryItem.ItemID</td>
                <td>@inventoryItem.ReorderQuantity</td>
                <td>@inventoryItem.ReorderLevel</td>
                <td>
                    <a asp-action="Details" asp-route-locationId="@Model.Location.LocationID" asp-route-itemId="@inventoryItem.ItemID">Details</a> |
                    <a asp-action="Edit" asp-route-locationId="@Model.Location.LocationID" asp-route-itemId="@inventoryItem.ItemID">Edit</a> |
                    <a asp-action="Delete" asp-route-locationId="@Model.Location.LocationID" asp-route-itemId="@inventoryItem.ItemID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><a asp-controller="Inventory" asp-action="Create">Create New Inventory Item</a></p>
