@model List<Feedback>

<h2>Feedback</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Rating</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in Model) {
            <tr>
                <td>@feedback.OrderID</td>
                <td>@feedback.Rating</td>
                <td>@feedback.Title</td>
                <td>@feedback.Description</td>
                <td>
                    <a asp-action="Details" asp-route-orderId="@feedback.OrderID">Details</a> |
                    <a asp-action="Edit" asp-route-orderId="@feedback.OrderID">Edit</a> |
                    <a asp-action="Delete" asp-route-orderId="@feedback.OrderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><a asp-action="Create">Create New Feedback</a></p>
