@model Item

<h2>Delete Item</h2>
<br>
<h3>Are you sure you want to delete this item?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt>Item ID</dt>
        <dd>@Model.ItemID</dd>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Category</dt>
        <dd>@Model.Category</dd>
        <dt>Description</dt>
        <dd>@Model.Description</dd>
        <dt>Price</dt>
        <dd>@Model.Price</dd>
        <dt>Supplier ID</dt>
        <dd>@Model.SupplierID</dd>
    </dl>
</div>
<form asp-action="Delete" asp-route-id="@Model.ItemID" method="post">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>
