@model List<InventoryManagement.Models.Supplier>

<h2>Suppliers</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Supplier ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Date Of Creation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model) {
            <tr>
                <td>@supplier.SupplierID</td>
                <td>@supplier.Name</td>
                <td>@supplier.Email</td>
                <td>@supplier.PhoneNumber</td>
                <td>@supplier.Address</td>
                <td>@supplier.DateOfCreation.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@supplier.SupplierID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@supplier.SupplierID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@supplier.SupplierID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p><a asp-action="Create">Create New Supplier</a></p>
