@model Expense

<h2>Delete Expense</h2>
<br>
<h3>Are you sure you want to delete this expense?</h3>
<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt>Expense ID</dt>
        <dd>@Model.ExpenseID</dd>
        <dt>Location ID</dt>
        <dd>@Model.LocationID</dd>
        <dt>Item ID</dt>
        <dd>@Model.ItemID</dd>
        <dt>Date</dt>
        <dd>@Model.Date</dd>
        <dt>Quantity</dt>
        <dd>@Model.Quantity</dd>
        <dt>Method</dt>
        <dd>@Model.Method</dd>
        <dt>Completed</dt>
        <dd>@Model.Completed</dd>
    </dl>
</div>
<form asp-action="Delete" asp-route-id="@Model.ExpenseID" method="post">
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>
